<div class="center">
    <div class="background_img">
        <div class="font">
            <div class="header_all">
                <h1>Editing Qr Code</h1>
            </div>
            <br>
            <br>
            <%= render 'form', qr_code: @qr_code %>

            <%= link_to 'Show', @qr_code %> |
            <%= link_to 'Back', qr_codes_path %>
        </div>
    </div>
</div>
