<div class="center">
    <div class="background_color">
        <div class="font">
            <h2>
            Admin Log in 
            </h2>
            <div class="Sign_in">
                <%= link_to 'Sign in with Google', admin_google_oauth2_omniauth_authorize_path, method: :post %>
            </div>
        </div>
    </div>
</div>
