<h1> Documentation </h1>
<p>This is the help page for how to use the site</p>


<p>These are going to be the 7 thing you will see on the front of this web page after you have successfully signed in via Google. 
This page will cover each of them and how to use/deal with them accordingly. </p>
<h3>Home</h3>
<p>First will be HOME, this will be as the name suggests, the home page. 
This will be where you can access any of the features the site has to offer and navigate easily between the many parts. 
This is the simplest page as it serves as a hub or, funny enough, home page. </p>

<h3>Personal Information</h3>
<p>Next is PERSONAL INFORMATION, this tab keeps track of all of the… </p>

<h3>Attendance</h3>
<p>Below that is the ATTENDANCE page…..</p>

<h3>QR Code</h3>
<p>Next on the list is the QR CODE page….</p>

<h3>Player Statistics</h3>
<p>Following that is PLAYER STATISTICS…..</p>

<h3>Documentation</h3>
<p>Second to last is DOCUMENTATION, the page you are currently on if you are reading this.</p>

<h3>Sign Out</h3>
<p>Lastly is the SIGN OUT page this is.....</p>


<br>
<br>
<%= link_to 'Back', homes_path %>