<div class="center">
    <div class="background_color">
        <div class="font">

            <h1> Documentation </h1>
            <p>This is the help page for how to use the site</p>

            <p>These are going to be the 7 thing you will see on the front of this web page after you have successfully signed in via Google. 
            <br>This page will cover each of them and how to use/deal with them accordingly. </p>
            <h3>Home</h3>
            <p>First will be HOME, this will be as the name suggests, the home page. 
            <br>This will be where you can access any of the features the site has to offer and navigate easily between the many parts. 
            <br>This is the simplest page as it serves as a hub or, funny enough, home page. </p>

            <h3>Personal Information</h3>
            <br>Next is PERSONAL INFORMATION, this tab keeps track of all of the members
            <br>information. There are 2 pages you can see, one is the base form 
            <br>that should be accessable via a QR code and the URL is personal_information/new
            <br>this does not require one to be signed in to the application to be able to make 
            <br>an account. The next is the form you can see when you hit edit. This has the dates
            <br>and the membership checkbox on, so you as an admin can change these values
            <br>only change the membership value not the start and end dates, they are auto generated
            <br>by the sites backend. When you click on the personal information tab in the homes page
            <br>you can see that there is a base view, this takes in a UIN, First Name, Last Name,
            <br>Email, Discord Username, Chess.com Username, and Lichess Username. Everything except the last 
            <br>two must be entered. Also be wary, we only check for accurate looking inputs, not actually working
            <br>inputs so if one doesn't work assume it is incorrectly entered. You as a admin can edit
            <br>any of these values but I would recommend not doing that unless you have too.
            <br>At the end of each edit and creation there should be a create information button or 
            <br>update button and that confirms the changes/creations. </p>

            <h3>Attendance</h3>
            <p>Below that is the ATTENDANCE page, this is one of the more simpler pages.
            <br>This page has a graph that covers the entire semester, so the more dates and meetings
            <br>the more that appears on the graph. To access a new Attendance form you hit the new button
            <br>or the url is attendences/new which takes you to a page with just a uin box that is empty and 
            <br>and create attendance button. Also you can delete specific attendances however, this is a feature
            <br>as well as editing them so if a date is off or a uin is wrong you can change it. 
            </p>

            <h3>QR Code</h3>
            <p>Next on the list is the QR CODE page, this page is almost as simple as the attendance page.
            <br>There is a new button click it to make a new entry. Then make a title this will house the 
            <br>reference to where or what the link will take you to. All likes have the same name as some 
            <br>links are long urls and others short. Host the qr code or images on a 3rd public site and 
            <br>then link the url in the url box. Then click create. This hosts any link so be careful there 
            <br>should be a show option to show the entire link so you can check and make sure the link is
            <br>valid or untampered with. BE CAREFUL as any site can be linked in this</p>

            <h3>Player Statistics</h3>
            <p>Following that is statistics, all you have to do is click update and wait.
            <br>this reloads the table it can take some time but it should take all current accounts
            <br>made for the current semester and load them into the table. If there is a 0 for the account
            <br>then it means they did not enter in any username in thier account for that specific site.
            <br>If there is a -1 it means either the account is worng as in it is entered by wrong, or 
            <br>they have not played any games in that specific area. Lastly and number above 0 is accurate accordingly
            <br>to the site they entered their username for. People can also put any name of any account in their profile
            <br>so be careful about that. This is based off of integrety of the user which is not good but we dont validate 
            <br>account information so this should be fine for now.</p>

            <h3>Documentation</h3>
            <p>Second to last is Documentation, the page you are currently on if you are reading this.</p>

            <h3>Sign Out</h3>
            <p>Lastly is the Sign Out page this is to sign out of admin thereby exiting the site.</p>
            <br>
            <br>
            <%= link_to 'Back', homes_path %>
            <br>
            <br>
        </div>
    </div>
</div>