<div class="background_color">
        <div class="center">
            <div class="font">
            <h1> Documentation </h1>
            <p>This is the help page for how to use the site</p>

            <p>These are going to be the 5 thing you will see on the front of this web page after you have successfully signed in via Google. 
            <br>This page will cover each of them and how to use/deal with them accordingly. </p>

            <h3>Home</h3>
            <p>First will be home, this will be as the name suggests, the home page. 
            <br>This will be where you can access any of the features the site has to offer and navigate easily between the many parts. 
            <br>This is the simplest page as it serves as a hub or, funny enough, home page. </p>

            <h3>Personal Information</h3>
            <p>
            <br>Next is personal information, this tab keeps track of all of the members information.
            <br>There are a couple of views for this page.
            <br>The new member form accessible by all.
            <br>One should be able to access this by a URL and should not have to log in to access it
            <br>
            <br>The overall page viewable only by admins, it shows all information.
            <br>You should be required to access this page
            <br>
            <br>The edit form to change information on a specific user.
            <br>You should be required to access this page
            <br>
            <br>One can click on the top of an of the headers for the tables i.e. UIN to sort from greatest to least
            <br>to help sort users and determine metrics. 
            <br>
            <br>Lastly certain usernames and information will not work in the personal table so if a user
            <br>enters invalid characters for Lichess or Chess.com you will have to change those to empty
            <br>An example of this would be aribic letters. 
            </p>

            <h3>Attendance</h3>
            <p>Below that is the attendance page, this is one of the more simpler pages.
            <br>This page has a graph that covers the entire semester, so the more dates and meetings
            <br>the more that appears on the graph. 
            <br>
            <br>This page has a couple of views. 
            <br>The new attendance form is accessible by all users.
            <br>It has just a UIN input and can record one user per day
            <br>This new Attendance form should be accessible by QR Code or URL
            <br>
            <br>As an admin you can edit and delete attendances.
            <br>There is a corrisponding edit view that shows UIN and DATE.
            <br>
            <br>Clicking the headers of the table will sort by UIN and by dates
            <br>
            <br>Attendance will refresh every semester
            </p>

            <h3>QR Code</h3>
            <p>Next on the list is the QR code page, this page is almost as simple as the attendance page.
            <br>There are 4 view for this page
            <br>There is new, show, edit, and a overall view of the entire page.
            <br>
            <br>New is only accessible by the admin
            <br>It takes a name for the link and a http/https link only.
            <br>
            <br>This has the highest security risk as it takes any link and created a path for it
            <br>However, if only ADMINS have access this should not be much of a issue. 
            <br>
            <br>The way you access a link is click "QR code link" in the row of the corrisponding title. 
            <br>
            <br>The next view is show, this is to check the URL that has been made to make sure it is 
            <br>a valid link, manually looking is the safest option, if you see redirect it is probably
            <br>a thing to be suspicious of.
            <br>
            <br>Last is the edit, if you make a typo or link the wrong thing you can delete it
            <br>or you can edit the edit form shows you the title and the http/https link. 
            <br>
            <br>Lastly you can sort by title and link if you want to by clicking the header for the tables.
            </p>

            <h3>Player Statistics</h3>
            <p>
            <br>Following that is statistics this updates on refresh but you can also do this manually.
            <br>This page has only one view. It shows all statistics from 2 websites on all players
            <br>
            <br>VERY IMPORTANT
            <br>0 means the username is not entered
            <br>-1 means the username is not correct
            <br>
            <br>This page is the one that is most prone to errors, if ANY of the usernames contain 
            <br>special characters it might crash the site. JUST MANUALLY change them to empty
            <br>in the PERSONAL INFORMATIONS page using the edit features. 
            <br>
            <br>Lastly you can sort all information in this page by clicking on the table's headers.
            </p>
            <br>
            <br>
            <%= link_to 'Back', homes_path %>
            <br>
            <br>
        </div>
    </div>
</div>
