<div class="center">
    <div class="background_color">
        <div class="font">

            <h1>New Personal Information</h1>
            <br>
            <br>
            <%= render 'form', personal_information: @personal_information %>

            <%= link_to 'Back', personal_informations_path %>
        </div>
    </div>
</div>