<div class="center">
    <div class="background_color">
        <div class="font">

            <div class="header_all">
                <h1>New Member</h1>
            </div>
            <br>
            <br>
            <%= render 'form', personal_information: @personal_information %>
            <br>
            <br>
            <%= link_to 'Back', personal_informations_path %>
            <br>
            <br>
        </div>
    </div>
</div>