/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.center {
    text-align: center;
    
}
.main_header {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.background_color{
    background-color: #5A2B39;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    background-image: url("bcg.png");
}
.font{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.img{
    max-width: 300px;
    max-height: 200px;
}

.table_center{
    margin-left: auto;
    margin-right: auto;
}

table, th, td{
    border: 1px solid;
}

.actions{
    color: red;
}

.line_chart{
    list-style: none;
    margin: 0;
    padding: 0;
}

a:link, a:visited {
    
    color: white;
    padding: 14px 25px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}
  
a:hover, a:active {
    background-color: #46212c;
    border-radius: 50%;
}

.header_all{
    margin-top: 5%;
}

.line_chart{
 color: white;
}

.bottom_marg{
    margin-bottom: 5%;
}

.dummy{
    color: white;
    padding: 14px 25px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}


input{
    color: white;
    outline: none;
    outline-color: #5A2B39;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #5A2B39;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin-top: 1%;
}

.field_with_errors{
    margin: 0 auto;
    text-align: center;
    color: black;
}

#error_explanation{
    margin: 0 auto;
    text-align: center;
    color: black;
    margin-bottom: 1%;
}

.background_img{
    background-image: url("bcg.png");
}

#chart-1{
    color: white;
}

element.style{
    color: #FFF;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

#personal_information_membership{
    color: #5A2B39;
    size: large;
}
