<div class="center">
  <div class="background_color">
    <div class="font">
        <h1>New Attendence</h1>

        <%= render 'form', attendence: @attendence %>

        <%= link_to 'Back', attendences_path %>
    </div>
  </div>
</div>

