<div class="center">
  <div class="background_img">
    <div class="font">
        <div class="header_all">
          <h1>New Attendence</h1>
        </div>
        <br>
        <br>
        <%= render 'form', attendence: @attendence %>

        <%= link_to 'Back', attendences_path %>
    </div>
  </div>
</div>

