<p id="notice"><%= notice %></p>

<h1>Thank you for submitting your attendance</h1>

<p>
  <strong>Student UIN:</strong>
  <%= @attendence.uin %>
</p>

<p>
  <strong>Event Day:</strong>
  <%= @attendence.day_of_event %>
</p>


<%= link_to 'Edit', edit_attendence_path(@attendence) %> |